/*^ GENERAL  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-nav: #8367C7;
    --color-primary: #6b45cb;
    --color-sec: #B3E9C7;
    --color-ter: #C2F8CB;
    --color-quad: #7df58f;
    --color-btn: #FFBA49;
    --color-bg: #d4f6d7;
    --color-text: #000000;
}

html {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    background-color: var(--color-bg);
}

/*^ CONTROL CLASSES */
.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.fitImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*^ MAIN */
.container-fluid {
    --bs-gutter-x: 0
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--color-text);
}

.btn {
    font-size: 16px;
}

.controller {
    width: 32px;
    height: 32px;
}

.hammer {
    width: 54px;
    height: 44px;
    position: relative;
    bottom: 6px;
    margin: 0 -15px;
}

#mainHeader {
    width: 100%;
    background-color: var(--color-nav);
    border-bottom: 0;
}

#mainHeader nav {
    background-color: var(--color-nav) !important;
}

#mainHero {
    background-color: var(--color-ter);
    padding: 80px !important;
}

#heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 24px;
}

#heroText h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

#heroImg {
    width: 500px;
    height: 500px;
    background: var(--color-primary);
}



/*^ ALBUM */
.album {
    background-color: var(--color-bg) !important;
}

.album .container .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.albumItem .card{
    background: radial-gradient(circle, var(--color-ter) 0%, var(--color-quad) 95%);
    border-radius: 10px;
    overflow: hidden;
    height: 370px;
}

.albumImg {
    width: 100%;
    height: 225px;
}

.albumItemTitle {
    color: var(--color-nav);
}

.albumItemBtn {
    background-color: var(--color-btn);
    border: 1px solid var(--color-text);
}

.albumItemBtn:hover {
    color: var(--color-nav);
}

.star {
    width: 32px;
    height: 32px;
    background-image: url(./../img/starEmpty.png);
}

.starFull {
    background-image: url(./../img/starFull.png);
}

/*^ THUMBNAILS */
#morra {
    background-image: url(./../img/morra.png);
    position: relative;
    top: 20px;
}

#memory {
    background-image: url(./../img/memory.png);
    position: relative;
    top: 15px;
}

#digita {
    background-image: url(./../img/digita.png);
}

#campoMinato {
    background-image: url(./../img/campoMinato.png);
}

#ducker {
    background-image: url(./../img/ducker.png);
    position: relative;
    top: 35px;
}

#coppaDelRe {
    background-image: url(./../img/coppaDelRe.png);
}

#milionario {
    background-image: url(./../img/milionario.png);
}

#chatventure {
    background-image: url(./../img/chatventure.png);
}

#stickerStacker {
    background-image: url(./../img/stickerStacker.png);
}

/*^ Features */


/*^ Footer */
#mainFooter {
    width: 100%;
    background-color: var(--color-nav);
    padding: 10px;
    margin: 0;
}



/*^ Placeholder  */
.placeholder {
    width: 100%;
    height: 146.53px;
    background-color: var(--color-sec);
}

@media only screen and (max-width: 471px) {
    .placeholder {
        height: 186.53px;
    }

    #mainHero {
        padding: 10px !important;
        margin: 0;
    }
}