/*
COLOR PALETTE
  black: rgb(0, 23, 50); #001732;
  orange: rgb(241, 117, 78); #f1754e;
  lightgreen: rgb(78, 241, 187); #4ef1bb;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Regole generiche */
body {
	padding: 16px;
	line-height: 1;
	color: rgb(0, 23, 50);
	background-color: rgb(216, 238, 232);
	font-family: 'Darker Grotesque', sans-serif;
}

.gameContainer {
	width: calc((68px * 6) + 4px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Pannello di gioco */
h1 {
	font-size: 40px;
}

.score {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

/* Tabellone di gioco */

.gameBoard {
	position: relative;
	border: 2px solid #001732;
	margin-bottom: 8px;
}

.grid {
	height: calc(68px * 8);
	width: calc((68px * 6) + 4px);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

/* Celle */
.cell {
	width: 68px;
	height: 68px;
	cursor: pointer;
}

.cellDark {
	background-color: #cbe0dd;
}

.cellClicked {
	background-color: #9dc5c7;
}

.bar {
	border-radius: 20%;
	background-color: #f1754e;
	border: 2px solid #001732;
}

/* Schermata di fine gioco */
.endGameScreen {
	background-color: #f1754e99;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.win {
	background-color: #4ef1bb99;
}

.endGameText {
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Press Start 2P', cursive;
	margin-bottom: 16px;
}

button {
	border: 2px solid #001732;
	font-size: 24px;
	font-family: 'Darker Grotesque', sans-serif;
	text-transform: uppercase;
	padding: 4px 20px 8px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #cbe0dd;
}

.buttonFull{
	width: 100%;
}

.hidden {
	display: none;
}
